Practica/10_desiciones_logicas.json
{
    "nodes": [
      {
        "parameters": {
          "formTitle": "Fiebre alta",
          "formDescription": "Desiciones lógicas",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Temperatura",
                "fieldType": "number",
                "placeholder": "Ingrese su temperatura"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -624,
          3344
        ],
        "id": "f1e9d76d-56d9-41f6-a965-8607ba096e3a",
        "name": "Request3",
        "webhookId": "9001679d-7040-42e8-92f6-46a88c4707c5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e197518d-7e28-4a51-9d57-d7e8b7d6ae96",
                "leftValue": "={{ $json.Temperatura }}",
                "rightValue": 36,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -416,
          3344
        ],
        "id": "dce9ef55-1001-46af-9cf2-fe7a50266f58",
        "name": "If2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d21d353-a184-47a2-90f0-939135e54574",
                "name": "Temeperatura alta",
                "value": "Su temperatura es algo alta, manténgase hidratado",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -160,
          3296
        ],
        "id": "8c51ae22-5da1-4571-a68b-191e901871fe",
        "name": "Edit Fields8"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d21d353-a184-47a2-90f0-939135e54574",
                "name": "Temperatura",
                "value": "=Temperatura indicada: {{ $('Request3').item.json.Temperatura }}C°, Se encuentra en temperatrura ideal",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          128,
          3424
        ],
        "id": "4d38554e-7bbe-486f-b3b7-d65f2e25fc72",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.Temperatura }}",
                      "rightValue": 33,
                      "operator": {
                        "type": "number",
                        "operation": "gt"
                      },
                      "id": "5d94147c-2cc4-43c7-91c7-544e7f2b0329"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "cb1f614f-90b8-48c8-8387-6c10db571abd",
                      "leftValue": "={{ $json.Temperatura }}",
                      "rightValue": 33,
                      "operator": {
                        "type": "number",
                        "operation": "lt"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -160,
          3456
        ],
        "id": "24142a8d-65a4-4158-a463-941abefe06e4",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d21d353-a184-47a2-90f0-939135e54574",
                "name": "Temperatura",
                "value": "=Temperatura indicada: {{ $('Request3').item.json.Temperatura }}C°, Se encuentra Con temepratura baja. Algo de sol no vendria mal.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          96,
          3584
        ],
        "id": "325234ab-8ec6-462a-8923-75d97d106668",
        "name": "Edit Fields10"
      }
    ],
    "connections": {
      "Request3": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "4d145fd139d1eaaf23eb84fb90956419885a76b409816c7f74cf5f25b26e2dfe"
    }
  }