Practica/13_Salida_estructurada.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        4368
      ],
      "id": "794898b9-2c4d-40ff-8713-9ee74711d117",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const raw = item.json.output[0].content[0].text;\n\n  try {\n    const parsed = JSON.parse(raw);\n    return {\n      json: parsed\n    };\n  } catch (error) {\n    return {\n      json: {\n        error: \"No se pudo parsear\",\n        raw: raw\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        4368
      ],
      "id": "dfa7a60f-9dd5-4640-9c88-5a2d98bf838b",
      "name": "parsed"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        4368
      ],
      "id": "4a07a508-1e7d-4391-ba33-9395b0b4f2df",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        4368
      ],
      "id": "f9a0641f-dde8-45f4-be74-eb30c2a8c7dc",
      "name": "Limit1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=\"Analiza el siguiente texto de un post: '{{ $json.body }}'.\n\nClasifícalo en una de estas categorías: 'EDUCATIVO', 'QUEJA' o 'GENERAL'.\n\nDetermina su sentimiento: 'POSITIVO', 'NEGATIVO' o 'NEUTRAL'.\n\nResponde únicamente con un JSON que contenga ambos resultados, sin texto adicional ni introducciones.\nFormato esperado:\n{\n\"categoria\": \"NOMBRE_CATEGORIA\",\n\"sentimiento\": \"SENTIMIENTO\"\n}\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        4368
      ],
      "id": "6efd0647-0f1f-467a-9ca7-6d4105b3029e",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "fXmzPfeiGU9eXQFl",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d145fd139d1eaaf23eb84fb90956419885a76b409816c7f74cf5f25b26e2dfe"
  }
}