Practica/3_manipulacion_datos.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          976
        ],
        "id": "8c96ec71-a7b4-4208-b700-aa2c3a386fc5",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "https://api.chucknorris.io/jokes/random",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          192,
          976
        ],
        "id": "1f227833-42be-4f7b-bea1-7f906cf195ef",
        "name": "HTTP Request1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          592,
          976
        ],
        "id": "488c84df-1e26-488e-9c37-5209b3f33206",
        "name": "No Operation, do nothing2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "52c1a559-2f05-48b4-8ef1-57dcdecfabc6",
                "name": "Chiste JAJDSJASDJSJDJASD",
                "value": "={{ $json.value.toUpperCase() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          400,
          976
        ],
        "id": "6e1e27de-1a5a-4567-8c12-f6159e1799d6",
        "name": "MayusChistes"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "MayusChistes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MayusChistes": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "4d145fd139d1eaaf23eb84fb90956419885a76b409816c7f74cf5f25b26e2dfe"
    }
  }