Practica/9_manejo_de_errores.json
{
    "nodes": [
      {
        "parameters": {
          "formTitle": "Movies",
          "formDescription": "Consulta en la API ",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Id movie",
                "fieldType": "number",
                "placeholder": "Ingrese un ID"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -96,
          3024
        ],
        "id": "2fcad3da-f5ad-4861-a71a-b4a0f2891144",
        "name": "Request2",
        "webhookId": "fe4f8131-48bd-4c35-ac25-e4f4bdd7aca5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "efa957a4-d8f2-4e65-8cc6-1f157a7bbdcb",
                "leftValue": "={{ $json['Id movie'] }}",
                "rightValue": 20,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          112,
          3024
        ],
        "id": "e412b1df-a38e-41b1-acec-e034fbe90229",
        "name": "If1"
      },
      {
        "parameters": {
          "url": "=https://devsapihub.com/api-movies/{{ $json['Id movie'] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          368,
          3136
        ],
        "id": "a2a08399-9c90-47bc-8569-1c5712aa5e01",
        "name": "HTTP Request5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "71a6ae36-a6c7-4d79-b55f-6f083d114c4c",
                "name": "Name",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "a2cdf49b-ba47-4e68-80a9-4cfdf09dfb02",
                "name": "decription",
                "value": "={{ $json.description }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          576,
          3136
        ],
        "id": "ad51fe75-514f-43a6-8131-1521ea48ec6a",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "71a6ae36-a6c7-4d79-b55f-6f083d114c4c",
                "name": "ERROR",
                "value": "=ID excede limite requerido (20)",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          400,
          2976
        ],
        "id": "ad3c73e5-b069-45cc-8d57-f56fccf745d3",
        "name": "Edit Fields7"
      }
    ],
    "connections": {
      "Request2": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request5": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "4d145fd139d1eaaf23eb84fb90956419885a76b409816c7f74cf5f25b26e2dfe"
    }
  }